# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Build and Test EPANET 2.2
on:
  push:
    branches: [ master, triplet_build ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build, Unit Testing, and Regression Testing
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            cmake_generator: -G "Visual Studio 17 2022" -A "x64"
            continue-on-error: false
          - os: ubuntu-latest
            cmake_generator: -G "Unix Makefiles"
            continue-on-error: false
          - os: macos-latest
            cmake_generator: -G "Xcode"
            continue-on-error: false
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.continue-on-error }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Build
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
        cd SRC_engines
        cmake -B .\build ${{ matrix.cmake_generator }} .
        cmake --build .\build --config Release --target package

    - name: Upload artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: build-test-artifacts
        path: |
          build/*.zip
          build/*.tar.gz